<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base-page :: head (${'Product Categories'})"/>
<body class="blue-grey darken-4 white-text">
    <div th:replace="/fragments/base-page :: navigation"/>
    <div class="container">
        <h1>Product Tracking</h1>
        <h5>Categories</h5>
        <div class="row">
            <div class="col s12">
                <nav class="blue darken-1">
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" name="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <h6 class="grey-text" th:if="${categories.isEmpty()}" th:text="${isSearch} ? 'No categories found using that search!' : 'No categories'"/>
        <div class="row">
            <div class="col s12 m6 xl3" th:each="category : ${categories}" th:if="${category ne null}">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="${category.name}"/>
                    </div>
                    <div class="card-action">
                        <form th:action="${'/categories/delete'}" method="post">
                            <input type="hidden" name="categoryId" th:value="${category.id}">
                            <a class="btn blue darken-1" th:href="${'/categories/edit/'} + ${category.id}">Edit</a>
                            <button type="submit" class="btn red">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/base-page :: addButton (href=${'/categories/new'})" />
    </div>
</body>
</html>