<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/base-page :: head (${'Product'})"/>
<body  class="blue-grey darken-4 white-text">
    <div class="container">
        <h1>Product</h1>
        <form th:with="isNew=${product} == null" th:action="${isNew} ? '/products/' + ${propertyLocation.id} + '/new' : '/products/' + ${product.id} + '/edit'" method="post">
            <input th:unless="${isNew}" type="hidden" name="id" th:value="${product.id}">
            <input type="hidden" >
            <div class="input-field">
                <label for="name">Product Name*</label>
                <input type="text" name="name" id="name" class="validate white-text" th:value="not ${isNew} ? ${product.name}" required>
            </div>
            <div class="input-field">
                <select class="browser-default" name="category" id="category" th:with="hasCategory=not ${isNew} and ${product.category} != null">
                    <option value="" th:selected="not ${hasCategory}">Choose Category (optional)</option>
                    <option th:selected="${hasCategory} and ${product.category.id} == ${category.id}" th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"/>
                </select>
            </div>
            <div class="input-field">
                <label for="productNumber">Product Number</label>
                <input class="white-text" type="text" name="productNumber" id="productNumber" th:value="not ${isNew} and ${product.productNumber} != null ? ${product.productNumber}">
            </div>
            <div class="input-field">
                <label for="link">Link</label>
                <input class="white-text" type="text" name="link" id="link" th:value="not ${isNew} and ${product.link} != null ? ${product.link}">
            </div>
            <div class="input-field">
                <label for="inventory">Inventory</label>
                <input class="white-text" type="number" name="inventory" id="inventory" th:value="not ${isNew} and ${product.inventory} != null ? ${product.inventory}">
            </div>
            <button class="btn blue darken-1" type="submit">Save</button>
        </form>
    </div>
</body>
</html>